{% extends "admin/base.html" %}
{% load static %}

{% block title %}Twil Tex Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <i class="fas fa-gem" style="margin-right: 10px; color: #ffd700;"></i>
        <span style="color: #ffd700; font-weight: bold; letter-spacing: 1px;">Twil Tex</span> <span style="font-weight: 300; opacity: 0.8;">Administration</span>
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block nav-global %}{% endblock %}
